USE [MockingJay]
GO
/****** Object:  StoredProcedure [dbo].[rs_Brightspeed_CallDetails]    Script Date: 1/5/2026 12:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pam
-- Create date: 7/11/25
-- Description:
-- EXEC 
-- =============================================
CREATE PROCEDURE [dbo].[rs_Brightspeed_CallDetails]
	-- Add the parameters for the stored procedure here
	@StartDate_p DATETIME,
	@EndDate_p DATETIME,
	@ContactID varchar(20) = null
	,@DispositionName varchar(100) = null
	,@LeadPhone varchar(10) = null
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering WITH SELECT statements.
	SET NOCOUNT ON;

DECLARE @StartDate DATETIME --= '7/10/25'
DECLARE @EndDate DATETIME --= '7/11/25'

declare  @TimeZoneadj int = 1 --cst

SET @StartDate = @StartDate_p
SET @EndDate = @EndDate_p

;


SELECT  i.createdat as CallDate, 
	l.LeadID, 
	AccountPhone = [Account Phone Number]
	,contact_ID	
	, Callback = DateAdd(HOUR,1,CallbackDateMST)
	, ContactName = [Contact First Name] + ' ' +  [Contact Last Name]
	, Interactions
	, Timezone
	, Comments = [Comments Log]
	, Gatekeeper = [Gatekeeper Name]
	, Disposition = DispositionName
	, l.InContactAgentID
	, AgentName=First_Name +' ' +Last_Name
	,employee_internal_id = internalid
	, start_date as LastCallDate

	, CalledPhone = case when contact_code > 100 then Ani_dialnum else contact_name end	
	, calltimestamp = dateadd(day, @TimeZoneadj,start_date)	

	, Calls = case when cdr.contact_id is not null then 1 else 0 end
	, connects = case when isconnect = 1 then 1 else 0 end
	, contact = case when iscontact = 1 then 1 else 0 end
	, Finalized =   case when dd.isFinal=1 then 1 else 0 end	
	, sale = case when issale = 1 then 1 else 0 end
	, agent_time
	, acw_time
	,l.Account#
	,l.[Location Account Name], l.[street address], l.city, l.state
	--, l.contact_first_name, l.contact_last_name, l.contact_email, l.contactType, l.contactPhone
	, AltPhone1, AltPhone2, AltPhone3
	, class = case when contact_code > 100 then 'IB' when contact_code < 100 then 'OB' else 'NonCall' end

FROM 
	(	select * from brightspeed.dbo.interactions i(nolock)  
		where CreatedAt between @StartDate and dateadd (day, 1, @EndDate)
	)i
	left join Brightspeed.dbo.Leads_CRM l (nolock)
 on l.leadid = i.leadid
left join (
			select *
			from incontact_userhub.dbo.cdrplus cdr (nolock) 
			where campaign_name like '%bright%speed%' and start_date between @StartDate and dateadd (day, 1, @EndDate)
		)cdr on i.ContactID = cdr.contact_ID
LEFT OUTER JOIN Brightspeed..Dispositions dd ON i.DispositionID = dd.DispositionID
LEFT OUTER JOIN inContact_UserHub..Agents a (Nolock) ON l.InContactAgentID=a.agent_no


where (contact_id = @contactID or @contactID is null or @contactID = '') 
and (DispositionName = @DispositionName  or @DispositionName is null or @DispositionName = '')
and (case when contact_code > 100 then Ani_dialnum else contact_name end= @LeadPhone or [account phone number] = @LeadPhone or @LeadPhone is null or @LeadPhone = '')
order by l.leadid
--option (recompile)
END

GO
/****** Object:  StoredProcedure [dbo].[rs_Brightspeed_CRM_AgentFlash]    Script Date: 1/5/2026 12:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Johanna
-- Create date: 9/25/25
-- Description:
-- =============================================
CREATE PROCEDURE [dbo].[rs_Brightspeed_CRM_AgentFlash]
	-- Add the parameters for the stored procedure here
	@StartDate_p DATETIME,
	@EndDate_p DATETIME

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering WITH SELECT statements.
	SET NOCOUNT ON;

	DECLARE @StartDate DATETIME = @StartDate_p
	DECLARE @EndDate DATETIME = @EndDate_p;


	with  tc as (
		SELECT tth.EmployeeID
			, EmployeeName = eh.FirstName + ' ' + eh.LastName
			, CallDateCST = Cast(AdjIntervalStart as date)
			, IntervalCST =AdjIntervalStart
			, TCHours = Duration/3600.0
		FROM [NEST].[dbo].[fn_TimeClockByHalfHour](@StartDate,@EndDate,2,1) tth		
		JOIN RavenX..Employees_H eh (nolock) ON tth.EmployeeID = eh.EmployeeID AND Cast(AdjIntervalStart as date) between eh.ValidFrom and isnull(eh.validTo,Dateadd(day,1,getdate()))
		WHERE Cast(AdjIntervalStart as date) between @StartDate AND @EndDate		
			AND eh.campaignID = 9313005

	)

	, calls as (

			SELECT i.InContactAgentID, x.EmployeeID
				--, CalldateCST = DateAdd(hour,1,i.CreatedAt)
				, IntervalCST = 
							 DATEADD(MINUTE,
										CASE WHEN DATEPART(MINUTE, DateAdd(hour,1, i.CreatedAt)) < 30 THEN 0 ELSE 30 END,
										DATEADD(HOUR, DATEPART(HOUR, DateAdd(hour,1, i.CreatedAt)), CAST(CAST(DateAdd(hour,1, i.CreatedAt) AS DATE) AS DATETIME)) )
					
				, isDial = SUM(1)
				, isconnect = SUM(cast(dd.isconnect as int))
				, iscontact = SUM(cast(dd.iscontact as int))
				, isfinal = SUM(cast(dd.isfinal as int))
				, isDNC = SUM(cast(dd.isDNC as int))
				, isSale = SUM(cast(dd.isSale as int)	)
			FROM Brightspeed..Interactions i (nolock)
			JOIN Brightspeed..Extensions x (nolock) ON i.InContactAgentID = x.AgentID
			--JOIN Brightspeed..Leads_CRM l (nolock) ON i.leadid = l.leadid 
			--JOIN inContact_UserHub..CDRPlus cdr (nolock) ON i.ContactID = cdr.contact_id
			LEFT OUTER JOIN Brightspeed..Dispositions dd ON i.DispositionID = dd.DispositionID
			WHERE i.InteractionTypeID = 1
				AND i.CreatedAt between @StartDate and DateAdd(day,1,@EndDate)				
			GROUP BY i.InContactAgentID, x.EmployeeID, DATEADD(MINUTE,
										CASE WHEN DATEPART(MINUTE, DateAdd(hour,1, i.CreatedAt)) < 30 THEN 0 ELSE 30 END,
										DATEADD(HOUR, DATEPART(HOUR, DateAdd(hour,1, i.CreatedAt)), CAST(CAST(DateAdd(hour,1, i.CreatedAt) AS DATE) AS DATETIME)) )
	)

	SELECT tc.* 
		,Dials = isnull(calls.isDial,0)
		,Contacts = isnull(calls.iscontact,0)
		,Sales = isnull(calls.isSale,0)
		,DNC = isnull(calls.isDNC,0)
	FROM tc
	LEFT OUTER JOIN calls ON tc.EmployeeID = calls.EmployeeID AND tc.IntervalCST = calls.IntervalCST
	ORDER BY tc.EmployeeID, tc.IntervalCST


END

GO
/****** Object:  StoredProcedure [dbo].[rs_Brightspeed_OB_ListSalesSummary_MRR]    Script Date: 1/5/2026 12:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pam
-- Create date: 7/11/25
-- Description:
-- EXEC 
-- =============================================
CREATE PROCEDURE [dbo].[rs_Brightspeed_OB_ListSalesSummary_MRR]
	-- Add the parameters for the stored procedure here
	@StartDate_p DATETIME,
	@EndDate_p DATETIME
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering WITH SELECT statements.
	SET NOCOUNT ON;

	DECLARE @StartDate DATETIME = @StartDate_P --'8/4/25'
	DECLARE @EndDate DATETIME = @EndDate_p --getdate()
 

--SET @StartDate = '7/12/25'
--SET @EndDate =getdate()
	
;

	SELECT 
	
		LeadListname as ListName 	
		, TotalRev = sum(discountprice) 
		, totSales = sum(case when revenue > 0 then 1 else 0 end)		
		,VoiceSeats = sum( case when Group2 = 'Voice+' then 1
								when group1 = 'BBF COMPLETE SUITE PKG' then 2 else 0 end)
		,BBF = sum(case when group2='BBF'  then 1 else  0 end)
		,P_BBF = sum(case when group2 = 'P-BBF' then 1 else 0 end)
		,StaticIP = sum(case when group2='Static IP'  then cast(group3 as int) else  0 end)	
								--when group1 = 'BBF COMPLETE SUITE PKG' then 5 else  0 end)		
		,misc=sum(case when group2='Miscellaneous'  then 1 else  0 end)		
		, Pots = sum(case when group2 = 'POTS' then 1 else 0 end)	
		,BBFRev = sum(case when group2='BBF'  then discountprice else 0 end)
		,StaticIPRev =  sum(case when group2='Static IP'  then  discountprice *cast(group3 as int) else 0 end)
		,P_BBFRev =sum(case when group2 = 'P-BBF'   then discountprice else 0 end)		
		,VoiceSeatsRev = sum(case when Group2 = 'Voice+'  then discountprice else 0 end)
		,MiscRev = sum(case when group2='Miscellaneous'    then discountprice else 0 end)
		, PotsRev = sum(case when group2 = 'POTS' then discountprice else 0 end)
	

	FROM 
	(select l.*,p.productname, discountprice, group1, group2, group3, revenue,
			r = rank() OVER (PARTITION BY i.LeadID ORDER BY i.[CreatedAt] aSC)	
	from 
		(	select * from brightspeed.dbo.interactions i(nolock)  
			where CreatedAt between @StartDate and dateadd (day, 1, @EndDate)
		
		)i
		left join Brightspeed.dbo.Leads_CRM l (nolock)
			on l.leadid = i.leadid
		left join (
				select *
				from incontact_userhub.dbo.cdrplus cdr (nolock) 
				where campaign_name like '%bright%speed%' and start_date between @StartDate and dateadd (day, 1, @EndDate)
			)cdr on i.ContactID = cdr.contact_ID
		LEFT OUTER JOIN Brightspeed..Dispositions dd ON i.DispositionID = dd.DispositionID
		LEFT OUTER JOIN inContact_UserHub..Agents a (Nolock) ON l.InContactAgentID=a.agent_no
		full join brightspeed.dbo.orders o on l.leadid = o.leadid
		left join brightspeed.dbo.products p on o.productid = p.productID

	where (dd.issale = 1 or (o.leadid is not null and o.active = 1 and dd.issale is null))
		and leadlistname not like '%testing%'
		and i.createdat between @startdate and dateadd(day, 1, @enddate)
	) ds where r = 1

	group by leadListName -- convert(varchar, i.createdat, 101)	 ,datename(weekday, i.createdat) 	,
	--order by  cdr.contact_name
--)sales left join DistinctAgents da on sales.listname = da.leadlistname
option (recompile)
END

GO
/****** Object:  StoredProcedure [dbo].[rs_BrightSpeed_OB_ListStats_day]    Script Date: 1/5/2026 12:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pam
-- Create date: 7/11/25
-- Description:	<Description,,>
-- ===========================================
CREATE PROCEDURE [dbo].[rs_BrightSpeed_OB_ListStats_day]
	@StartDate_p datetime,
	@EndDate_p datetime
	--,@DateRange as varchar(10)  =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @StartDate DATETIME = @StartDate_P --'8/4/25'
	DECLARE @EndDate DATETIME = @EndDate_p --getdate()
	--Declare @TimeRange varchar (10)

	--SET @StartDate = @StartDate_p
	--SET @EndDate = @EndDate_p
	
	

;
With 

listcount as 
(
		select leadlistname, count(*) as LeadCount,
			convert(varchar, max(CreatedAt),101) as Leaddate,
			sum(case when issuppressed = 1 then 1 else 0 end) as suppressed
		from brightspeed..leads_crm 
		group by leadlistname
),
interactions as
(
	SELECT 
		l.LeadID, l.LeadListName
		,CallDate = convert(varchar,  isnull(cdr.[start_date], i.createdat),101) 
		, cdr.Skill_name
		, dateOfCall = DateAdd(hour,1,i.CreatedAt)
		,start_date, cdr.contact_id	
		, l.State, l.City--, l.Zipcode
		, l.[Account Phone Number] 
		, Areacode = SUBSTRING(cdr.contact_name,1,3) 
		, Prefix = SUBSTRING(cdr.contact_name,4,3) 
		, timeZone 
		, isDial = 1
		, isconnect = cast(dd.isconnect as int)
		, iscontact = cast(dd.iscontact as int)
		, isfinal = cast(dd.isfinal as int)
		, isDNC = cast(dd.isDNC as int)
		, isSale = cast(dd.isSale as int)
		, Agenttime = cdr.agent_time
		, acw_time = cdr.ACW_Time
		, isnull(cdr.agent_no, l.incontactagentid) as agent_no
		,lastIntRank = rank() over(partition by i.leadid,convert(varchar, cdr.[start_date],101)   order by i.createdat desc) 
		, DispositionName
	FROM Brightspeed..Interactions i (nolock)
	JOIN Brightspeed..Leads_CRM l (nolock) ON i.leadid = l.leadid 
	left JOIN (
					select * from inContact_UserHub..CDRPlus cdr (nolock) 
					where start_date between @StartDate and dateadd(day, 1, @Enddate)
				)cdr ON i.ContactID = cdr.contact_id
	LEFT OUTER JOIN Brightspeed..Dispositions dd ON i.DispositionID = dd.DispositionID
	WHERE --i.InteractionTypeID = 1
		--AND 
		i.CreatedAt between @StartDate and DateAdd(day,1,@EndDate)
		AND LeadListName NOT LIKE '%Testing%'
),

FollowUpDispo as
(
	select leadlistname, calldate,count(*) as followUpCnt from interactions
	where lastIntRank = 1 and dispositionName = 'DM Contact - Follow Up Scheduled'
	group by LeadListName, calldate
	
),
attempts as
	(
		
	select  leadlistname, calldate,
			sum(case when Maxattemptrank = 1 then 1 else 0 end) as attempts1, 
			sum(case when Maxattemptrank = 2 then 1 else 0 end) as attempts2,
			sum(case when Maxattemptrank = 3 then 1 else 0 end) as attempts3,
			sum(case when Maxattemptrank = 4 then 1 else 0 end) as attempts4,
			sum(case when Maxattemptrank = 5 then 1 else 0 end) as attempts5,
			sum(case when Maxattemptrank >= 6 then 1 else 0 end) as attempts6
			,sum(case when LeadFinalCount = 0 and Maxattemptrank >= 6 then 1 else 0 end) as Nonfinal6Attempt
		from 
		(

			select leadlistname, leadid, calldate,max(attemptrank) as Maxattemptrank, sum(isfinal) as LeadFinalCount
			from 
			(
				select  Leadid, leadlistname, calldate, [account phone number],isFinal,					
					attemptrank = rank() over (partition by leadid, leadlistname order by start_date  asc)					
					from interactions 
					where contact_id is not null and isconnect = 1
					
			)x
			group by leadlistname,calldate, leadid	
	)y 
		
	group by leadlistname, calldate


	)

--attempts as
--		(
--			select calldate,  leadlistname, leadid,
--				sum(case when attemptrank = 1 then 1 else 0 end) as attempts1, 
--				sum(case when attemptrank = 2 then 1 else 0 end) as attempts2,
--				sum(case when attemptrank = 3 then 1 else 0 end) as attempts3,
--				sum(case when attemptrank = 4 then 1 else 0 end) as attempts4,
--				sum(case when attemptrank = 5 then 1 else 0 end) as attempts5,
--				sum(case when attemptrank >=6  then 1 else 0 end) as attempts6,
--				sum(isfinal) as LeadFinalCounts
--			from 
--			(
--				select contact_id, Leadid, leadlistname, start_date, [account phone number],calldate,isfinal,
					
--					attemptrank = rank() over (partition by leadid, leadlistname order by start_date  asc)

--					from interactions where contact_id is not null and isconnect = 1
		
--			)x 
--			group by calldate,  leadlistname,leadid
--) 

--,attbyDay
--as
--	(
--		select i.calldate, i.leadlistname, 
--			sum(attempts1) as attempts1, 
--			sum(attempts2) as attempts2,
--			sum(attempts3) as attempts3,
--			sum(attempts4) as attempts4,
--			sum(attempts5) as attempts5,
--			sum(attempts6) as attempts6
--			,sum(case when LeadFinalCounts = 0 then attempts6 else 0 end) as Nonfinal6Attempt			
			
--		from interactions i 
--			left join attempts  a on i.leadid = a.leadid and i.calldate = a.calldate
--		group by i.calldate, i.leadlistname
--	)


,c as 
	(
		SELECT 
			calldate,			
			datename(weekday, calldate) as CallDayName,
			LeadListName
			, sum(isDial) as DIals
			, sum(isconnect) as Connections
			, sum(iscontact) as contacts
			, sum(isfinal) as Finalized
			, sum(isDNC)  as DNC
			, sum(isSale) as sales
			, Agenttime = sum(agenttime)
			, acw_time = sum(ACW_Time)
			, count (distinct isnull(agent_no,0)) as ActiveAgents
		from Interactions
		group by calldate, leadlistname
	)

,cdrcombDay as 
(
	select  calldate, sum(dials) as overalldials
	from c
	group by calldate
)

, h as 
	(
		Select leadlistname, c.calldate, callPerc = dials/(overalldials*1.0)
				, (totaltime * (dials/(overalldials*1.0))) as sec_byPerc
		from 
		(
			SELECT convert(varchar, callday,101) as callday	
				,totaltime = sum(totaltime-unavailableTime) --productive		
			FROM Nest.dbo.ProjectTimeByHalfHour (nolock) h
			WHERE CallDay BETWEEN @StartDate AND dateadd(day, 1,@EndDate) 
				AND (CampaignID = 9313211 or teamname like '%brightspeed%')		
			GROUP BY convert(varchar, callday,101)
		)ht left join cdrcombDay on ht.callday = cdrcombDay.calldate
		left join c on ht.callday = c.calldate
		
	)



select ch.*, LeadCount,attempts1,attempts2,attempts3,attempts4,attempts5,attempts6, 
		Nonfinal6Attempt, followUpCnt, suppressed, leaddate
from
(
	select c.LeadListName, c.calldate, CallDayName
				, sum(Dials) as DIals
				, sum(connections) as Connections
				, sum(contacts) as contacts
				, sum(finalized) as Finalized
				, sum(DNC)  as DNC
				, sum(Sales) as sales
				, Agenttime = sum(agenttime)/3600.0
				, acw_time = sum(ACW_Time)/3600.0
				, sum(sec_byPerc)/3600.0 as Hours_byPerc 
				, sum(ActiveAgents) as ActiveAgents
				, sum(Sales)/(sum(ActiveAgents)*1.00) as salesbyAgentD
	from c left join h on c.leadlistname = h.LeadListName and c.calldate = h.calldate
	group by c.leadlistname, c.calldate,CallDayName
)ch

left join ListCount on ch.leadlistname = listcount.leadlistname
--left join attbyDay on ch.LeadListName = attbyDay.LeadListName and ch.calldate = attbyDay.calldate 
left join attempts on ch.LeadListName = attempts.LeadListName and ch.calldate = attempts.calldate
left join FollowUpDispo on ch.leadlistname = FollowUpDispo.leadlistname and ch.callDate=FollowUpDispo.calldate

order by Leadlistname, calldate

	--option(recompile)
END
GO
/****** Object:  StoredProcedure [dbo].[rs_BrightSpeed_OB_ListStats_Week]    Script Date: 1/5/2026 12:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pam
-- Create date: 7/11/25
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[rs_BrightSpeed_OB_ListStats_Week]
	@StartDate_p datetime,
	@EndDate_p datetime
	--,@DateRange as varchar(10)  =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @StartDate DATETIME = @StartDate_P --'8/4/25'
	DECLARE @EndDate DATETIME = @EndDate_p --getdate()
	--Declare @TimeRange varchar (10)

	--SET @StartDate = @StartDate_p
	--SET @EndDate = @EndDate_p


;

With 
	listcount as 
	(
			select leadlistname, convert(varchar, max(CreatedAt),101) as Leaddate,
					count(*) as LeadCount, 
					sum(case when active =1 then 1 else 0 end) as ActiveLeads, 
					sum(case when issuppressed = 1 then 1 else 0 end) as suppressed
					, sum(case when isfinal = 1 then 1 else 0 end) as FinalizedLead
					, sum(case when isDNC = 1 then 1 else 0 end) as DNCLead		
			from brightspeed..leads_crm 
			group by leadlistname
	)

,interactions as
(
	SELECT 
	 WeekDate= datepart(week,  isnull(cdr.[start_date], i.createdat)) ,
	 WeekName = convert(varchar,DATETRUNC(week,  isnull(cdr.[start_date], i.createdat)) , 101) ,
		--	YearDate = datename(Year, start_date),
		l.LeadID, l.LeadListName
		,CallDate = convert(varchar, isnull(cdr.[start_date], i.createdat),101) 
		, cdr.Skill_name
		, dateOfCall = DateAdd(hour,1,i.CreatedAt)
		,start_date, cdr.contact_id	
		, l.State, l.City--, l.Zipcode
		, l.[Account Phone Number] 
		, Areacode = SUBSTRING(cdr.contact_name,1,3) 
		, Prefix = SUBSTRING(cdr.contact_name,4,3) 
		, timeZone 
		, isDial = 1
		, isconnect = cast(dd.isconnect as int)
		, iscontact = cast(dd.iscontact as int)
		, isfinal = cast(dd.isfinal as int)
		, isDNC = cast(dd.isDNC as int)
		, isSale = cast(dd.isSale as int)
		, Agenttime = cdr.agent_time
		, acw_time = cdr.ACW_Time
		, isnull(cdr.agent_no, l.incontactagentid) as agent_no
		,lastIntRank = rank() over(partition by i.leadid,datepart(week, start_date)  order by i.createdat desc) 
		, DispositionName
	FROM Brightspeed..Interactions i (nolock)
	JOIN Brightspeed..Leads_CRM l (nolock) ON i.leadid = l.leadid 
	left JOIN (
					select * from inContact_UserHub..CDRPlus cdr (nolock) 
					where start_date between @StartDate and dateadd(day, 1, @Enddate)
				)cdr ON i.ContactID = cdr.contact_id
	LEFT OUTER JOIN Brightspeed..Dispositions dd ON i.DispositionID = dd.DispositionID
	WHERE i.InteractionTypeID = 1
		AND i.CreatedAt between @StartDate and DateAdd(day,1,@EndDate)
		AND LeadListName NOT LIKE '%Testing%'
),
leadstouched as 
(
	select leadlistName, weekdate, count (distinct leadid) as touchedLeads, count(distinct agent_no) as DistinctAgents
	from interactions --where contacT_id is not null
	group by leadlistname, weekdate
	),
FollowUpDispo as
(
	select leadlistname, weekdate,count(*) as followUpCnt from interactions
	where lastIntRank = 1 and dispositionName = 'DM Contact - Follow Up Scheduled'
	group by LeadListName, weekdate
	
),
attempts as
	(
		
	select  leadlistname, weekdate,
			sum(case when Maxattemptrank = 1 then 1 else 0 end) as attempts1, 
			sum(case when Maxattemptrank = 2 then 1 else 0 end) as attempts2,
			sum(case when Maxattemptrank = 3 then 1 else 0 end) as attempts3,
			sum(case when Maxattemptrank = 4 then 1 else 0 end) as attempts4,
			sum(case when Maxattemptrank = 5 then 1 else 0 end) as attempts5,
			sum(case when Maxattemptrank >= 6 then 1 else 0 end) as attempts6
			,sum(case when LeadFinalCount = 0 and Maxattemptrank >= 6 then 1 else 0 end) as Nonfinal6Attempt
		from 
		(

			select leadlistname, leadid, weekdate, max(attemptrank) as Maxattemptrank, sum(isfinal) as LeadFinalCount
			from 
			(
				select  Leadid, leadlistname, calldate, weekdate,[account phone number],isFinal,					
					attemptrank = rank() over (partition by leadid, leadlistname order by start_date  asc)					
					from interactions 
					where contact_id is not null and isconnect = 1
					
			)x
			group by leadlistname, leadid,weekdate	
	)y 		
	group by leadlistname, weekdate


),


cmini as --this is to get a distinct finalized lead count per week rather than count finalized dispositions
	( 
		select Weekdate, leadlistname, 
		sum(case when finalized > 0 then 1 else 0 end) as Finalized
		,sum(case when LeadSales > 0 then 1 else 0 end) as Sales
		,sum(case when Dnc > 0 then 1 else 0 end) as DNC
		from 
			(
				SELECT 	calldate,	weekdate,WeekName,
						LeadListName, leadid			
						, sum(isfinal) as Finalized
						, sum(isDNC)  as DNC
						, sum(isSale) as Leadsales			
				from Interactions
				group by leadlistname, calldate, weekdate,WeekName, leadid
			)sl
		group by leadlistname, weekdate
	),
		

c as --get totals by calldate so we can get a better percentage of calls by day for the hours breakdown by list
	(
		SELECT 		calldate,	weekdate,WeekName,
			LeadListName
			, sum(isDial) as DIals
			, sum(isconnect) as Connections
			, sum(iscontact) as contacts
			--, sum(isfinal) as Finalized
			--, sum(isDNC)  as DNC
			, sum(isSale) as sales
			, Agenttime = sum(agenttime)
			, acw_time = sum(ACW_Time)
			, count (distinct agent_no) as ActiveAgents
		from Interactions
		group by leadlistname, calldate, weekdate,WeekName
	)

	
,cdrcombDay as --total dials per day for percentage calculation
(
	select  calldate, sum(dials) as overalldials
	from c
	group by calldate
)


, h as --hours from project time by half hour, combined with c and cdrcombday to break hours by percentage of dials
	(
		Select leadlistname, c.calldate, callPerc = dials/(overalldials*1.0)
				, (totaltime * (dials/(overalldials*1.0))) as sec_byPerc
		from 
		(
			SELECT convert(varchar, callday,101) as callday	
				,totaltime = sum(totaltime-unavailableTime) --productive		
			FROM Nest.dbo.ProjectTimeByHalfHour (nolock) h
			WHERE CallDay BETWEEN @StartDate AND dateadd(day, 1,@EndDate) 
				AND (CampaignID = 9313211 or teamname like '%brightspeed%')		
			GROUP BY convert(varchar, callday,101)
		)ht left join cdrcombDay on ht.callday = cdrcombDay.calldate
		left join c on ht.callday = c.calldate
		
	)
	
	
	

select ch.*, LeadCount,attempts1,attempts2,attempts3,attempts4,attempts5,attempts6, 
		Nonfinal6Attempt, followUpCnt, suppressed, LeadDate, Finalized, DistinctAgents
from
(
	select c.LeadListName, c.weekdate,WeekName
				, sum(Dials) as dials
				, sum(connections) as connections
				, sum(contacts) as contacts
				--, sum(finalized) as finalized
				--, sum(DNC)  as DNC
				, sum(Sales) as sales
				, Agenttime = sum(agenttime)/3600.0
				, acw_time = sum(ACW_Time)/3600.0
				, sum(sec_byPerc)/3600.0 as Hours_byPerc 
				,sum(activeagents) as ActiveAgents
				,sum(sales)/(sum(activeagents)*1.00) as SalesbyAgent
				--, sum(ActiveAgentsCo) as ActiveAgents
				--, sum(salesbyAgentD) as salesbyAgentID2
	from c left join h on c.leadlistname = h.LeadListName and c.calldate = h.calldate
	--left join agentsalebyDay sd on c.calldate = sd.calldate and sd.leadlistname = c.leadlistname
	group by c.leadlistname, c.weekdate,WeekName
)ch

left join ListCount on ch.leadlistname = listcount.leadlistname 
left join attempts on ch.LeadListName = attempts.LeadListName and ch.weekdate = attempts.WeekDate 
left join FollowUpDispo on ch.leadlistname = FollowUpDispo.leadlistname and ch.WeekDate=FollowUpDispo.weekdate
left join cmini on cmini.leadlistname = ch.leadlistname and cmini.weekdate = ch.weekdate
left join leadstouched lt on lt.weekdate = ch.weekdate and lt.LeadListName=ch.LeadListName
order by Leadlistname ,weekdate

	--option(recompile)
END
GO
/****** Object:  StoredProcedure [dbo].[rs_BrightSpeed_OB_ListStatsAll]    Script Date: 1/5/2026 12:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pam
-- Create date: 7/11/25
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[rs_BrightSpeed_OB_ListStatsAll]
	@StartDate_p datetime,
	@EndDate_p datetime
	--,@DateRange as varchar(10)  =null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @StartDate DATETIME = @StartDate_P --'8/4/25'
	DECLARE @EndDate DATETIME = @EndDate_p --getdate()
	--Declare @TimeRange varchar (10)

	--SET @StartDate = @StartDate_p
	--SET @EndDate = @EndDate_p


;
With 
listcount as 
(
		select leadlistname, convert(varchar, max(CreatedAt),101) as Leaddate,
				count(*) as LeadCount, 
				sum(case when active =1 then 1 else 0 end) as ActiveLeads, 
				sum(case when issuppressed = 1 and isfinal <> 1 then 1 else 0 end) as suppressed
				, sum(case when isfinal = 1 then 1 else 0 end) as FinalizedLead
				, sum(case when isDNC = 1 then 1 else 0 end) as DNCLead	
				,sum(case when isduplicate = 1 then 1 else 0 end) as DuplicateLead
		from brightspeed..leads_crm 
		group by leadlistname
)

,interactions as
(
	SELECT 
	 
		l.LeadID, l.LeadListName
		,CallDate = convert(varchar,  isnull(cdr.[start_date], i.createdat),101) 
		, cdr.Skill_name
		, dateOfCall = DateAdd(hour,1,i.CreatedAt)
		, start_date, cdr.contact_id		
		, l.State, l.City--, l.Zipcode
		, l.[Account Phone Number] 
		, Areacode = SUBSTRING(cdr.contact_name,1,3) 
		, Prefix = SUBSTRING(cdr.contact_name,4,3) 
		, timeZone 
		, isDial = 1
		, isconnect = cast(dd.isconnect as int)
		, iscontact = cast(dd.iscontact as int)
		, isfinal = cast(dd.isfinal as int)
		, isDNC = cast(dd.isDNC as int)
		, isSale = cast(dd.isSale as int)
		, Agenttime = cdr.agent_time
		, acw_time = cdr.ACW_Time
		, isnull(cdr.agent_no, l.incontactagentid) as agent_no
		, lastIntRank = rank() over(partition by i.leadid order by i.createdat desc) 
		, DispositionName
		
	FROM Brightspeed..Interactions i (nolock)
	JOIN Brightspeed..Leads_CRM l (nolock) ON i.leadid = l.leadid 
	left JOIN (
					select * from inContact_UserHub..CDRPlus cdr (nolock) 
					where start_date between @StartDate and dateadd(day, 1, @Enddate)
				)cdr  ON i.ContactID = cdr.contact_id
	LEFT OUTER JOIN Brightspeed..Dispositions dd ON i.DispositionID = dd.DispositionID
	WHERE --i.InteractionTypeID = 1 and --include all interactions?
		 i.CreatedAt between @StartDate and DateAdd(day,1,@EndDate)
		AND LeadListName NOT LIKE '%Testing%'
),
leadstouched as 
(
	select leadlistName, count (distinct leadid) as touchedLeads, count(distinct agent_no) as DistinctAgents
	from interactions --where contacT_id is not null
	group by leadlistname
	),
	
leadsUntouched as 
(
	select l.leadlistName,  count(*) as NoInteractionLeadcnt
	from brightspeed.dbo.leads_crm l (nolock) 
	left join interactions i on l.leadid = i.leadid 	
	where i.leadID is null and isnull(l.isduplicate,0) <> 1  and isnull(l.IsSuppressed,0) <> 1
	group by l.leadlistname
),
FollowUpDispo as
(
	select leadlistname, count(*) as followUpCnt from interactions
	where lastIntRank = 1 and dispositionName = 'DM Contact - Follow Up Scheduled'
	group by LeadListName
	
),

attempts as
	(
		
		select  leadlistname, 
				sum(case when Maxattemptrank = 1 then 1 else 0 end) as attempts1, 
				sum(case when Maxattemptrank = 2 then 1 else 0 end) as attempts2,
				sum(case when Maxattemptrank = 3 then 1 else 0 end) as attempts3,
				sum(case when Maxattemptrank = 4 then 1 else 0 end) as attempts4,
				sum(case when Maxattemptrank = 5 then 1 else 0 end) as attempts5,
				sum(case when Maxattemptrank >= 6 then 1 else 0 end) as attempts6
				,sum(case when LeadFinalCount = 0 and Maxattemptrank >= 6 then 1 else 0 end) as Nonfinal6Attempt
			from 
			(

				select leadlistname, leadid, max(attemptrank) as Maxattemptrank, sum(isfinal) as LeadFinalCount
				from 
				(
					select  Leadid, leadlistname, calldate, [account phone number],isFinal,					
						attemptrank = rank() over (partition by leadid, leadlistname order by start_date  asc)					
						from interactions 
						where contact_id is not null and isconnect = 1
					
				)x
				group by leadlistname, leadid	
		)y 
		
		group by leadlistname
	)
,
c as 
	(
		SELECT 		calldate,	
			LeadListName
			, sum(isDial) as DIals
			, sum(isconnect) as Connections
			, sum(iscontact) as contacts
			, sum(isfinal) as Finalized
			, sum(isDNC)  as DNC
			, sum(isSale) as sales
			, Agenttime = sum(agenttime)
			, acw_time = sum(ACW_Time)
			, count (distinct agent_no) as ActiveAgents
		from Interactions
		group by leadlistname, calldate
	)

	
,cdrcombDay as 
	(
		select  calldate, sum(dials) as overalldials
		from c
		group by calldate
	)


, h as 
	(
		Select leadlistname, c.calldate, callPerc = dials/(overalldials*1.0)
				, (totaltime * (dials/(overalldials*1.0))) as sec_byPerc
		from 
		(
			SELECT convert(varchar, callday,101) as callday	
				,totaltime = sum(totaltime-unavailableTime) --productive		
			FROM Nest.dbo.ProjectTimeByHalfHour (nolock) h
			WHERE CallDay BETWEEN @StartDate AND dateadd(day, 1,@EndDate) 
				AND (CampaignID = 9313211 or teamname like '%brightspeed%')		
			GROUP BY convert(varchar, callday,101)
		)ht left join cdrcombDay on ht.callday = cdrcombDay.calldate
		left join c on ht.callday = c.calldate
		
	)--,


select ch.*, LeadCount,attempts1,attempts2,attempts3,attempts4,attempts5,attempts6, 
			Nonfinal6Attempt,followUpCnt, suppressed, ActiveLeads,touchedLeads,NoInteractionLeadcnt, Leaddate
			,FinalizedLead,DNCLead,DuplicateLead,distinctAgents, @StartDate as StartDate, @EndDate as EndDate
from
(
	select c.LeadListName
				, sum(Dials) as dials
				, sum(connections) as connections
				, sum(contacts) as contacts
				, sum(finalized) as finalized
				, sum(DNC)  as DNC
				, sum(Sales) as sales
				, Agenttime = sum(agenttime)/3600.0
				, acw_time = sum(ACW_Time)/3600.0
				, sum(sec_byPerc)/3600.0 as Hours_byPerc 
				,sum(activeagents) as ActiveAgents
				,sum(sales)/(sum(activeagents)*1.00) as SalesbyAgent
				--, sum(ActiveAgentsCo) as ActiveAgents
				--, sum(salesbyAgentD) as salesbyAgentID2
	from c left join h on c.leadlistname = h.LeadListName and c.calldate = h.calldate
	--left join agentsalebyDay sd on c.calldate = sd.calldate and sd.leadlistname = c.leadlistname
	group by c.leadlistname
)ch

left join ListCount on ch.leadlistname = listcount.leadlistname
left join attempts on ch.LeadListName = attempts.LeadListName 
left join FollowUpDispo on ch.leadlistname = FollowUpDispo.leadlistname
left join leadstouched on ch.leadlistname = leadstouched.leadlistname
left join leadsUntouched on ch.leadlistname = leadsUntouched.leadlistname 
order by Leadlistname

	--option(recompile)

--	attempts as
--	(
--		select  leadlistname,leadid,
--			sum(case when attemptrank = 1 then 1 else 0 end) as attempts1, 
--			sum(case when attemptrank = 2 then 1 else 0 end) as attempts2,
--			sum(case when attemptrank = 3 then 1 else 0 end) as attempts3,
--			sum(case when attemptrank = 4 then 1 else 0 end) as attempts4,
--			sum(case when attemptrank = 5 then 1 else 0 end) as attempts5,
--			sum(case when attemptrank >=6  then 1 else 0 end) as attempts6,
--			sum(isfinal) as LeadFinalCounts
				
--		from 
--		(
--			select contact_id, Leadid, leadlistname, calldate, [account phone number],isFinal,					
--				attemptrank = rank() over (partition by leadid, leadlistname order by start_date  asc)					
--				from interactions where contact_id is not null and isconnect = 1
		
--		)x 
--		group by leadlistname, leadid
--	) ,

--attSum --allows grouping of the attempts counts
--as
--	(
--		select  i.leadlistname, 
--			sum(attempts1) as attempts1, 
--			sum(attempts2) as attempts2,
--			sum(attempts3) as attempts3,
--			sum(attempts4) as attempts4,
--			sum(attempts5) as attempts5,
--			sum(attempts6) as attempts6
--			,sum(case when LeadFinalCounts = 0 then attempts6 else 0 end) as Nonfinal6Attempt
--		from interactions i 
--			left join attempts  a on i.leadid = a.leadid 
--		group by  i.leadlistname
--	)
--,
END
GO
/****** Object:  StoredProcedure [dbo].[rs_Brightspeed_OB_Sales_Details]    Script Date: 1/5/2026 12:47:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pam
-- Create date: 7/11/25
-- Description:
-- EXEC 
-- =============================================
CREATE PROCEDURE [dbo].[rs_Brightspeed_OB_Sales_Details]
	-- Add the parameters for the stored procedure here
	@StartDate_p DATETIME,
	@EndDate_p DATETIME
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering WITH SELECT statements.
	SET NOCOUNT ON;

DECLARE @StartDate DATETIME --= '7/10/25'
DECLARE @EndDate DATETIME --= '7/11/25'
 declare  @TimeZoneadj int = 1 --cst


SET @StartDate = @StartDate_p
SET @EndDate = @EndDate_p
	
;


SELECT LeadListName,
	LeadID,
	convert(varchar, createdat, 101) as CallDate, 	 
	AccountPhone = [Account Phone Number]
	,contact_ID	
	, Callback = DateAdd(HOUR,1,CallbackDateMST)
	, ContactName = [Contact First Name] + ' ' +  [Contact Last Name]
	, Interactions
	, Timezone
	, Comments = [Comments Log]
	, Gatekeeper = [Gatekeeper Name]
	, Disposition = DispositionName
	, InContactAgentID
	, AgentName=First_Name +' ' +Last_Name
	,employee_internal_id = internalid
	, start_date as LastCallDate
	, CalledPhone 
	, calltimestamp = dateadd(hour, @TimeZoneadj,start_date)		
	, agent_time
	, acw_time	
	, class	
	, [Account#],	[Location Account Name],	[AccountOwner],	[Street Address]	
	, [Address Sub],	City,	State,	[Zip Code],	County, [Metro/Micro],	[MSAName]
	, [NAICS_Code],	[SmartBiz Enabled],	[Qualified Date],	[AMS ID],	[Record ID]	
	, [Industry],	[Contact First Name],	[Contact Last Name],	[Contact Type]
	, [Contact Email],	[Contact Phone],	[Current Fiber Provider], [Current Speed]
	, [Current Price],	[Current Contract Status],	[Curent Voice Solution],[GooglePlaces]	
	, AltPhone1,	AltPhone2,	AltPhone3,	GooglePhone,GoogleWebsite,	[Gatekeeper Name]		
	,attemptrank --at what attempt did the sale occur
	,agreementClosed= case when agreementClosed = 1 then 'Closed - Win'
	                      when agreementClosed = 2 then 'Closed - Lost' 
						  else 'Pending' end 
	, ClosedDate, [Opportunity #], [Lead Status], [Lead Status Reason]
	, Acting_AgentID,productname, DiscountPrice,revenue,  productid

FROM 
(
	select l.*, i.createdat as InteractionDate,i.attemptrank,
		dispositionname, isnull(cdr.agent_no,l.InContactAgentID) as Acting_AgentID,
		class, start_date, agent_time, acw_time,contact_id,  First_name, Last_name, internalid,
		CalledPhone = case when contact_code > 100 then Ani_dialnum else contact_name end	,
		sb.[Lead Status], sb.[Lead Status Reason],
		p.productname, p.DiscountPrice,p.revenue,  o.productid
		,salerank = rank() over(partition by i.leadid order by  issale desc,i.createdat asc)		
	from
	(	
		select *, attemptrank = rank() over (partition by leadid order by createdat  asc)		
		from brightspeed.dbo.interactions i(nolock)  
		where CreatedAt between @StartDate and dateadd (day, 1, @EndDate)
		
	)i
		left join Brightspeed.dbo.Leads_CRM l (nolock)
			on l.leadid = i.leadid
		left join (
					select *,class = case when contact_code > 100 then 'IB'
										when contact_code < 100 then 'OB' 
										else 'NonCall' end
	
					from incontact_userhub.dbo.cdrplus cdr (nolock) 
					where campaign_name like '%bright%speed%' and start_date between @StartDate and dateadd (day, 1, @EndDate)
				)cdr on i.ContactID = cdr.contact_ID
		LEFT OUTER JOIN Brightspeed..Dispositions dd ON i.DispositionID = dd.DispositionID
		LEFT OUTER JOIN inContact_UserHub..Agents a (Nolock) ON isnull( i.InContactAgentID,l.incontactagentid)=a.agent_no
		full join brightspeed.dbo.orders o on l.leadid = o.leadid
		left join brightspeed.dbo.products p on o.productid = p.productID
		LEFT OUTER JOIN brightspeed.dbo.BrSpd_SubmittedSales sb (nolock) ON sb.Email = l.[Contact Email]
	where (dd.issale = 1  or (o.leadid is not null and o.active = 1 and dd.issale is null))
	and leadlistname not like '%testing%'
	and i.createdat between @startdate and dateadd(day, 1, @enddate)
)DS
WHERE salerank = 1
	--order by  cdr.contact_name
	order by calldate
option (recompile)
END

GO
